:root {
    --header-height: 4rem;
    --scroll-mt: 4rem;
    --scrollbar-track: #f1f1f1;
    --scrollbar-thumb: #9f9f9f;
    --scrollbar-thumb-hover: #757575;

    --app-dark-bg: #0B1F36;
    --app-light-bg: #ffffff;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background: var(--scrollbar-track, #f1f1f1);
}

::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb, #9f9f9f);
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover, #757575);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}