<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <style>
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
    <div>
        <!--<select @n-change="onChangeMicrophone" :value="getSelectedInputDevice">
            <option v-for="mic in getInputDeviceList"
                    :value="mic.deviceId"
                    :key="mic.deviceId"
                    :selected="getSelectedInputDevice === mic.deviceId">
                {{ mic.label }}
            </option>
        </select>
        <br/>
        <select @change="onChangeSpeakers" :value="getSelectedOutputDevice">
            <option v-for="device in getOutputDeviceList"
                    :value="device.deviceId"
                    :key="device.deviceId"
                    :selected="getSelectedOutputDevice === device.deviceId">
                {{ device.label }}
            </option>
        </select>-->

        <div>
            <select id="microphoneEl"></select>
            <select id="speakerEl"></select>
        </div>


        <div>
            <div>
                Mute when join
                <input type="checkbox" id="muteWhenJoinInputEl"/>
            </div>
            <div>
                DND
                <input type="checkbox" id="DNDInputEl"/>
            </div>
        </div>

        <div>
            <div id="muteContainerEl">
                <button class="muteButtonEl">
                    Mute
                </button>
            </div>
            <!--<button v-if="isMuted"
                    @click="doMute(false)">
                Unmute
            </button>
            <button v-else
                    :disabled="!Object.keys(getActiveCalls).length"
                    @click="doMute(true)">
                Mute
            </button>-->
        </div>

        <br>

        <form id="makeCallForm">
            <label>
                Your target:
                <input type="text" name="target">
            </label>
            <button type="submit">
                Call
            </button>
        </form>
        <div id="callAddingIndicator" class="hidden">Calling...</div>

        <div>
            Add new call to current room
            <input type="checkbox" id="addToCurrentRoomInputEl">
        </div>

        <br/>

        <div>
            <label for="inputLevel">Microphone sensitivity (between 0 and 2):</label>
            <input type="number"
                   id="inputLevel"
                   name="inputLevel"
                   value="2"
                   min="0"
                   max="2"
                   step="0.1"
            >
            <button id="inputLevelApplyButton">Apply</button>
        </div>
        <div>
            <label for="outputLevel">Speaker volume (between 0 and 1):</label>
            <input type="number"
                   id="outputLevel"
                   name="outputLevel"
                   value="1"
                   min="0"
                   max="1"
                   step="0.1"
            >
            <button id="outputLevelApplyButton">Apply</button>
        </div>

        <br/>

        <div>
            <form id="dtmfForm">
                <label>
                    DTMF input:
                    <input id="dtmfInput" type="text">
                </label>
                <button id="dtmfSendButton" type="submit" disabled>
                    Send
                </button>
            </form>
        </div>

    </div>
<script src="./index.ts" type="module"></script>
</body>
</html>
